footer
  .container
    p &copy; 2023 Laptop Store. All rights reserved.
    nav
      ul
        li
          a(href="#home") Home
        li
          a(href="#features") Features
        li
          a(href="#products") Products
        li
          a(href="#contact") Contact
