header
  .container
    h1 Laptop Store
    nav
      ul
        li
          a(href="#home") Home
        li
          a(href="#features") Features
        li
          a(href="#products") Products
        li
          a(href="#contact") Contact
